{% extends "layout.html" %}
{% load static %}
{% block title %}
<title>View Ride - YatraBuddy</title>
{% endblock title %}
{% block main %}
<body style="background-color:black;">
    <div class="hero" style="background:url('{% static "img/banner3.jpeg" %}');height:50vh;">
        <div class="overlay"></div>
        <div class="hero-content">
          <h1>Find Your Perfect Ride</h1>
          <p class="mb-4">Quick, reliable, and convenient carpooling options near you.</p>
          <!-- Search Bar -->
          <form class="search-bar d-flex">
            <input type="text" class="form-control" placeholder="From">
            <input type="text" class="form-control" placeholder="To">
            <input type="date" class="form-control" placeholder"Today">
            <input type="number" class"form-control" placeholder="Person">
            <button type="submit" class="btn">Find Ride <i class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
</div>
<!-- End of .container -->

<div class="ag-format-container">
  <div class="ag-courses_box">
    {% for ride in rides %}
    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>
        <div class="ag-courses-item_title">
          <p>{{ ride.source }} ➜ {{ ride.destination }}</p>
        </div>
        <div class="ag-courses-item_date-box">
          Start:
          <span class="ag-courses-item_date">
            {{ ride.date }}
          </span>
        </div>
      </a>
    </div>
    {% empty %}
    <p>No rides available.</p>
    {% endfor %}
  </div>
</div>

</body>

{% endblock main %}

