{% extends "layout.html" %}
{% load static %}
{% block title %}
<title>View Ride - YatraBuddy</title>
{% endblock title %}
{% block main %}
<body style="background-color:black;">
    <div class="hero" style="background:url('{% static "img/banner3.jpeg" %}');height:50vh;">
        <div class="overlay"></div>
        <div class="hero-content">
          <h1>Find Your Perfect Ride</h1>
          <p class="mb-4">Quick, reliable, and convenient carpooling options near you.</p>
          <!-- Search Bar -->
          <form class="search-bar d-flex">
            <input type="text" class="form-control" placeholder="From">
            <input type="text" class="form-control" placeholder="To">
            <input type="date" class="form-control" placeholder"Today">
            <input type="number" class"form-control" placeholder="Person">
            <button type="submit" class="btn">Find Ride <i class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
</div>
<!-- End of .container -->
<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
           <p>Delhi to Agra</p>
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2025
            </span>
          </div>
        </a>
      </div>
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Ballia to Varansi
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              15.02.2025
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
           Ghaziabad to Hathras
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.03.2025
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Bombay to Punjab
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              15.01.2025
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
          <div class="ag-courses-item_title">
            Noida to Gorakhpur
          </div>
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              20.02.2025
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Delhi to Ujjain
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg">
          </div>
          <div class="ag-courses-item_title">
            15.02.2025
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Ballia to Kushinagar
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              11.02.2025
            </span>
          </div>
        </a>
      </div>
  
    </div>
  </div>
</body>

{% endblock main %}

